<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bharal</title>
</head>
<body>
    <h1>bharal</h1>
    <form method="get" action="/">
        <input type="text" placeholder="www.baidu.com" name="url" required="required">
        <input type="submit" value="Go">
    </form>
    <ul>
        <li>
            <a href="/https://www.google.com/" target="_blank" rel="noopener noreferrer">Google</a>
        </li>
        <li>
            <a href="/https://www.bing.com/" target="_blank" rel="noopener noreferrer">Bing</a>
        </li>
        <li>
            <a href="/https://www.baidu.com/" target="_blank" rel="noopener noreferrer">Baidu</a>
        </li>
        <li>
            <a href="/https://blog.werner.wiki/" target="_blank" rel="noopener noreferrer">Werner's blog</a>
        </li>
    </ul>
    <p><a href="https://github.com/Werneror/bharal" target="_blank" rel="noopener noreferrer">Homepage</a></p>
</body>
</html>
